@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/portlet/test.css" />
    <script src="~/lib/p5/p5.min.js"></script>
    <script src="~/lib/p5/p5.dom.min.js"></script>
    <script src="~/js/portlet/test.js"></script>
</head>


<body>
</body>

</html>