@{
    ViewData["Title"] = "Home Page";
}

<link  rel="stylesheet" href="~/css/home.css" />

<div class="row">
    <div class="col-md-4">
        <iframe src="/Test/Index" frameborder="1" scrolling="no"></iframe>
    </div>
    <div class="col-md-4">
        <iframe src="/Todo/Index" frameborder="1"></iframe>
    </div>
    <div class="col-md-4">
        <iframe src="/Todo/Index" frameborder="1"></iframe>
    </div>
</div>


<!-- <pre>
    @ViewData["Configvals"]
</pre> -->

