<div>
    <h3>Input: <input id="singleConfigInput" type="text" class="config-input"></h3>
</div>

<style type="text/css">
    .config-input {
        height: 36px;
        font-size: 18px;
    }
    
</style>


