@model List<onering.Models.Portlet>
@{
    ViewData["Title"] = "Home Page";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/js/catalog.js"></script>
<link rel="stylesheet" href="~/css/catalog.css"/>

<div>
    <h1>Portlet Catalog</h1>

    <div class="row">
        <div class="col-md-6 portlet-list">
            @foreach (var portlet in Model) {
                <div class="portlet-list-item">
                    <img class="portlet-list-item-icon" src='@portlet.Icon'>
                    <div class="portlet-list-item-name">@portlet.Name</div>
                </div>
            }
        </div>
        <div class="col-md-6" id="portlet-description">
        </div>
    </div>

    <div style="display: flex; flex-direction: row-reverse;">
        <button id="add_portlet_btn" class="btn btn-success btn-lg btn-finished disabled" onclick="onCatalogAddClick()">
            Add
        </button>
        <button class="btn btn-danger btn-lg btn-finished" onclick="onCatalogCancelClick()">
            Cancel
        </button>
    </div>
</div>
