
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Portlet Catalog</h1>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <h2>Portlet Name</h2>
            <p>Here is some description</p>
            <h2>Configuration</h2>
            <p>Here is some configuration</p>
        </div>
    </div>
</div>