body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 12px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}

button {
    font-size: 11px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-nav {
    margin: 0px;
}

.navbar-header {
    float: none;
}

.navbar-right {
    margin-top: 4px;
    float: right;
}

.navbar {
    min-height: 70px;
}


.dropdown .dropdown-toggle {
    padding: 0px;
    width: 45px;
    height: 60px;
    float: right;
}

.navbar-brand {
    font-size: 32px;
    padding-top: 10px;
}

    .navbar-brand > img {
        width: 56px;
        height: 56px;
        display: inline-block;
        margin-right: -8px;
    }

.navbar-inverse .navbar-brand {
    color: #dddddd;
}

.glyphicon {
    top: 18px;
    left: 12px;
    font-size: 25px;
}


.table > tbody > tr > td {
    padding: 2px;
}

.table > tbody > tr > th {
    padding: 2px;
}

.table {
    margin-bottom: 0;
}

h2 {
    margin-top: 5px;
    font-size: 25px;
}

#abs-center {
    text-align: center;
    position: relative;
    top: 40vh;
    transform: translateY(-50%);
}
#portlet-grid {
    height: calc(100vh - 150px);
}

.portlet-heading {
    background-color: lightgrey;
    height: 2em;
}
.portlet-body {
    /* background-color: cyan; */
    height: calc(100% - 2em);
}

.grid-stack>.grid-stack-item>.grid-stack-item-content {
    overflow-y: hidden;
}