body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 12px;
}

button {
    font-size: 11px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-brand {
    font-size: 30px;
}

.navbar-inverse .navbar-brand {
    color: #dddddd;
}


.table > tbody > tr > td {
    padding: 2px;
}

.table > tbody > tr > th {
    padding: 2px;
}

.table {
    margin-bottom: 0;
}

h2 {
    margin-top: 5px;
    font-size: 25px;
}

