body {
    padding-top: 0px;
}

.todo-table {
    width: 100%;
}

.todo-table > th, td {
    border-bottom: 1px solid #ddd;
}

.todo-table th  {
    color: white;
    background-color: mediumseagreen; 
    padding: 5px;
    font-size: 22px;
    font-family: Calibri;
}

.todo-table td {
    padding: 6px 4px;
}

.todo-nav-img {
        width: 24px;
        height: 24px;
}

.todo-header {
    margin-top: 10px;
    font-size: 28px;
}